<header class="display-flex justify-space-between align-center p-2">
  <nav>
    <a href="/">
    <button class="btn" id="home">Home</button>
    </a>
    <a href="/dashboard">
    <button class="btn" id="dashboard">Dashboard</button>
    </a>
    
    <button class="btn" id="logout">Logout</button>
    
  </nav>
  {{log this}}
 {{#if blogs.length}}
    <h1>{{blogs.[0].user.username}}'s Dashboard</h1>
  {{/if}}




</header>

<div id="previous-posts">
{{#each blogs as |blog| }}
<button class="old-post" id="{{blog.id}}" data-blog_post_id="{{blog.id}}">
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}}</h2>
  </div>
  <div class="col-md-6">
    <p>{{blog.body}}</p>
  </div>
</div>
</button>
<div class="edit-delete">

</div>
<br>
{{/each}}
</div>

<div id="post-content" >
   

</div>
<br>
<br>
<div>
    <button class="btn" id="new-post">Add New Post</button>
</div>
<script src="/js/dashBoard.js"></script>
<script src="/js/logout.js"></script>