<header>
  <nav>
    <a href="/"><button class="nav-button" id="home">Home</button></a>
    <a href="/dashboard"><button class="nav-button" id="dashboard">Dashboard</button></a>

    <button class="nav-button" id="logout">Logout</button>

  </nav>
  {{log this}}
  {{#if blogs.length}}
  <h1>{{blogs.[0].user.username}}'s Dashboard</h1>
  {{/if}}




</header>

<div id="previous-posts">
  {{#each blogs as |blog| }}
    <div class="row align-center mb-5" id="{{blog.id}}" data-blog_post_id="{{blog.id}}">
      <button class="blog-post button old-post" id="{{blog.id}}" data-blog_post_id="{{blog.id}}">
      <div class="col-md-12 header" id="{{blog.id}}" data-blog_post_id="{{blog.id}}">
        <h2 id="{{blog.id}}" data-blog_post_id="{{blog.id}}">{{blog.title}}</h2>
        <aside id="{{blog.id}}" data-blog_post_id="{{blog.id}}">{{blog.createdAt}}</aside>
      </div>
      <div class="col-md-12 body" id="{{blog.id}}" data-blog_post_id="{{blog.id}}">
        <p id="{{blog.id}}" data-blog_post_id="{{blog.id}}">{{blog.body}}</p>
      </div>
    </div>
  </button>
  <div class="edit-delete">

  </div>
  <br>
  {{/each}}
</div>

<div id="post-content">


</div>
<br>
<br>
<div class="add-post">
  <button class="btn btn-primary" id="new-post">+ New Post</button>
</div>
<script src="/js/dashBoard.js"></script>
<script src="/js/logout.js"></script>